.row
{
     max-width: 400px;
     margin: 0 auto;
     position: relative;
     top: 20vh;
     text-align: center;
}

.firstPart
{
    margin-top: 20px;
    margin-bottom: 13px;
}
.SecondPart
{
    margin-bottom: 40px;
}
